/*********************************************
 header items
 ********************************************/

header {

    text-align: center;
    background-color: #91240b;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-top: 10px;
    color: white;
    align-content: center;
    vertical-align: middle;
    border-top-style: solid;
    border-top-color: #cc735f;
    border-top-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: #cc735f;
    border-bottom-width: 10px;
    
}

header h1 {

    display: inline;
    margin-right: 20px;
    margin-left: 20px;

}

header video {

    display: inline-block;
    margin-top: 15px;
    justify-content: center;
    vertical-align: middle;
    align-content: center;
    margin-top: 2px;
    margin-bottom: 6px;

}

footer {

    text-align: center;
    margin-bottom: 25px;
    justify-content: center;
    background-color: #91240b;
    border-top-style: solid;
    border-top-color: #cc735f;
    border-top-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #cc735f;
    border-bottom-width: 3px;
    color: white;
    clear: both;

}

input {
    float: right;
    display: inline;
    margin-bottom: 5px;
}

header a, header a:visited {

    color:white;
    text-decoration: none;

}

header a:hover {

    color: gray;

}

nav a, nav a:visited {

    color: white;
    text-decoration: none;

}

nav a:hover {

    color: gray;

}

nav {

    background-color: #b52201;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 10px;

}

nav li {

    list-style-type: none;
    display: inline-block;
    padding-right:15px;
    font-size: 150%;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    margin-top: 0;
    padding-top: 12px;
    padding-right: 30px;
    padding-bottom: 12px;
    height: 30px;

}

main {

    width: 90%;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 120px;
    height: 100%;
    text-align: center;
    background-color: #b52201;
    color: white;

}

main video {
    
    margin-bottom: 0px;
    
}

main h3 {
    
    border-top-style: solid;
    border-top-color: #cc735f;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cc735f;
    border-bottom-width: 1px;
    
}

#page2 main {
    margin-top: 15px;
    width: 100%;
    margin-left: auto; 
    margin-right: auto;
    float: left;
    display: inline-block;
    height: 100%;
    text-align: center;
    background-color: #b52201;
    padding-bottom: 10px;
} 

#page2 li {

    justify-content: center;
    text-align: left;

}

#page2 section {

    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;

}

#page3 main {
    
    margin-top: 15px;
    width: 90%;
    margin-left: 5%; 
    margin-right: auto;
    display: inline-block;
    height: 100%;
    text-align: center;
    background-color: #b52201;
    padding-bottom: 10px;
    
}

#page3 main h2 {
    
    font-size: 2.6em;
    
}

#page3 main p {
    
    padding-right: 10px;  
    padding-left: 10px;
    margin-right: 10px;
    margin-left: 10px; 
    margin-bottom: 10px;
    font-size: 1.1em;
    text-align: left;
    
}

#page4 main {
    
    margin-top: 15px;
    width: 90%;
    margin-left: 5%; 
    margin-right: auto;
    display: inline-block;
    height: 100%;
    text-align: center;
    background-color: #b52201 ;
    padding-bottom: 10px;
    
}

#page4 input[type=radio] {
    
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 45%;
    margin-bottom: 5px;
    
}

#page4 input[type=submit]{
    
    margin-right: 5%;
    
}

#page4 main label {
    
    margin-right: 0px;
    margin-left: 26%;
    text-align: left;
    
    
}

#page5 main image {
    
    height: 300px;
    width: 200px;
    margin-bottom: 75px;
    margin-top: 40px;
    clear: both;
    
}

#page5 main input[type=text]{
    
    margin-right: 44%;
    margin-bottom: 30px;
    
}

#page5 main input[type=submit]{
    
    margin-right: 46%;
    margin-left: 40%;
    
    
}

#page5 main h2{
    
    margin-top: 20px;
    
}

#page5 main p {
    
    color:white;
    font-size: 1.6em;
    
}

#easteregg body, html, body img{

    width: 100%;
    height: 100%;

}

main h2 {

    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;

}

main img {

    height: 256px;
    width: 256px;
}

main h3 {

    margin-top: 30px;

}

#redx {

    float: left;
    margin-left: 350px;
    margin-top: 0px;
    margin-bottom: 50px;

}

#ocelot {

    float: right;
    margin-right: 350px;
    margin-top: 0px;
    margin-bottom: 50px;

}
